In [67]:
import pandas as pd

In [68]:
csv_data = pd.read_csv(
    './assets/IHME-GBD_2017_DATA-37d305ef-1.csv',
    error_bad_lines=False
)
df = pd.DataFrame(csv_data)

In [69]:
del df['measure_id']
del df['measure_name']
df['location_id'] = df['location_id'].fillna(0)
df['location_name'] = df['location_name'].fillna('unknown')
df['sex_id'] = df['sex_id'].fillna(0)
df['sex_name'] = df['sex_name'].fillna('unknown')
del df['age_id']
del df['age_name']
del df['cause_id']
del df['cause_name']
del df['metric_id']
del df['metric_name']
df['year'] = df['year'].fillna(0)
df['val'] = df['val'].fillna(0)
df['upper'] = df['upper'].fillna(0)
df['lower'] = df['lower'].fillna(0)
df['rank'] = 0

In [70]:
df.head()

,location_id,location_name,sex_id,sex_name,year,val,upper,lower,rank
0,108,Belize,1,Male,1990,0.111066,0.134317,0.090071,0
1,108,Belize,2,Female,1990,0.052717,0.062200,0.043408,0
2,108,Belize,3,Both,1990,0.082243,0.094777,0.069078,0
3,7,North Korea,1,Male,1990,0.627025,0.912639,0.363522,0
4,7,North Korea,2,Female,1990,0.249210,0.348083,0.160998,0

In [71]:
df[(df['sex_id']==3) & (df['year']==1990)].sort_values(by=['val'], ascending=False).reset_index().head()

,index,location_id,location_name,sex_id,sex_name,year,val,upper,lower,rank
0,443,196,South Africa,3,Both,1990,4.929720,5.472670,4.487900,0
1,431,94,Switzerland,3,Both,1990,3.566200,4.055893,3.002744,0
2,362,62,Russian Federation,3,Both,1990,2.371923,2.504497,2.214237,0
3,1283,71,Australia,3,Both,1990,1.892743,2.028607,1.758087,0
4,215,90,Norway,3,Both,1990,1.648328,1.725415,1.548719,0

In [72]:
df2 = df[(df['sex_id']==3) & (df['year']==1990)].sort_values(by=['val'], ascending=False).reset_index().head()

In [73]:
df2[(df2['location_name']=='Switzerland')]['index']

1    431
Name: index, dtype: int64

In [77]:
for year in df['year'].unique(): 
    for sex in df['sex_id'].unique():
        df_current = df[(df['sex_id']==sex) & (df['year']==year)].sort_values(by=['val'], ascending=False).reset_index()
        for index, row in df_current.iterrows():
              df.at[row['index'], 'rank'] = index + 1

In [79]:
df

,location_id,location_name,sex_id,sex_name,year,val,upper,lower,rank
0,108,Belize,1,Male,1990,0.111066,0.134317,0.090071,186
1,108,Belize,2,Female,1990,0.052717,0.062200,0.043408,160
2,108,Belize,3,Both,1990,0.082243,0.094777,0.069078,186
3,7,North Korea,1,Male,1990,0.627025,0.912639,0.363522,75
4,7,North Korea,2,Female,1990,0.249210,0.348083,0.160998,53
5,7,North Korea,3,Both,1990,0.426544,0.579862,0.278203,71
6,133,Venezuela,1,Male,1990,0.277605,0.326285,0.233146,142
7,133,Venezuela,2,Female,1990,0.117293,0.133007,0.098561,104
8,133,Venezuela,3,Both,1990,0.197173,0.222632,0.171501,133
9,184,Mozambique,1,Male,1990,0.385147,0.612079,0.157109,117
10,184,Mozambique,2,Female,1990,0.048429,0.067559,0.026522,170
11,184,Mozambique,3,Both,1990,0.211082,0.323935,0.095380,126
12,58,Estonia,1,Male,1990,1.825310,2.091568,1.572103,23
13,58,Estonia,2,Female,1990,0.329446,0.375329,0.286948,34
14,58,Estonia,3,Both,1990,1.028927,1.158477,0.910879,28
15,83,Iceland,1,Male,1990,1.645335,1.972045,1.353989,29
16,83,Iceland,2,Female,1990,0.939015,1.061402,0.823691,3
17,83,Iceland,3,Both,1990,1.293659,1.461747,1.121928,18
18,179,Ethiopia,1,Male,1992,0.236901,0.357953,0.084490,154
19,179,Ethiopia,2,Female,1992,0.136109,0.201223,0.064547,99
20,179,Ethiopia,3,Both,1992,0.186706,0.254546,0.077141,147
21,435,South Sudan,1,Male,1990,0.136492,0.296173,0.032979,175
22,435,South Sudan,2,Female,1990,0.023833,0.039622,0.010748,190
23,435,South Sudan,3,Both,1990,0.083648,0.171705,0.024338,181
24,59,Latvia,1,Male,1990,1.408475,1.591610,1.240946,37
25,59,Latvia,2,Female,1990,0.294980,0.331325,0.260300,42
26,59,Latvia,3,Both,1990,0.813645,0.902064,0.729386,37
27,195,Namibia,1,Male,1991,1.790817,2.280432,1.292438,26
28,195,Namibia,2,Female,1991,0.527700,0.659118,0.424211,17
29,195,Namibia,3,Both,1991,1.144195,1.416354,0.872462,28
...,...,...,...,...,...,...,...,...,...
16350,121,Bolivia,1,Male,2017,1.164082,1.564688,0.758671,85
16351,121,Bolivia,2,Female,2017,0.455694,0.592521,0.323363,62
16352,121,Bolivia,3,Both,2017,0.810124,1.021316,0.593148,77
16353,122,Ecuador,1,Male,2017,1.304299,1.516947,1.118238,74
16354,122,Ecuador,2,Female,2017,0.488362,0.574502,0.410112,57
16355,122,Ecuador,3,Both,2017,0.893992,1.010560,0.793107,64
16356,140,Bahrain,1,Male,2017,0.967092,1.176068,0.801014,99
16357,140,Bahrain,2,Female,2017,0.118623,0.141899,0.097976,157
16358,140,Bahrain,3,Both,2017,0.645397,0.777646,0.541623,101
16359,89,Netherlands,1,Male,2017,1.040808,1.194735,0.908976,91
16360,89,Netherlands,2,Female,2017,0.361230,0.421094,0.311007,75
16361,89,Netherlands,3,Both,2017,0.698237,0.784470,0.626659,93
16362,141,Egypt,1,Male,2017,0.153226,0.197976,0.115842,193
16363,141,Egypt,2,Female,2017,0.038265,0.049383,0.028162,188
16364,141,Egypt,3,Both,2017,0.097569,0.120565,0.075811,192
16365,142,Iran,1,Male,2017,5.915981,6.518336,5.582490,6
16366,142,Iran,2,Female,2017,1.167278,1.265283,1.085196,10
16367,142,Iran,3,Both,2017,3.575545,3.910082,3.399822,6
16368,123,Peru,1,Male,2017,0.966524,1.236569,0.747010,100
16369,123,Peru,2,Female,2017,0.455848,0.582383,0.350348,61
16370,123,Peru,3,Both,2017,0.712101,0.856946,0.583865,91
16371,298,American Samoa,1,Male,2017,0.412956,0.503537,0.333732,161
16372,298,American Samoa,2,Female,2017,0.213284,0.262599,0.166093,120
16373,298,American Samoa,3,Both,2017,0.314061,0.363559,0.266843,151
16374,90,Norway,1,Male,2017,3.878455,4.333086,3.520894,15
16375,90,Norway,2,Female,2017,1.145596,1.295023,1.052265,12
16376,90,Norway,3,Both,2017,2.522687,2.805491,2.340844,15
16377,91,Portugal,1,Male,2017,1.336967,1.520343,1.160970,69
16378,91,Portugal,2,Female,2017,0.298549,0.351800,0.250335,92
16379,91,Portugal,3,Both,2017,0.793053,0.886029,0.705157,80