In [104]:
import pandas as pd
from decimal import *

In [105]:
csv_data = pd.read_csv(
    './assets/IHME-GBD_2017_DATA-37d305ef-1.csv',
    error_bad_lines=False
)
df = pd.DataFrame(csv_data)

In [106]:
del df['measure_id']
del df['measure_name']
df['location_id'] = df['location_id'].fillna(0)
df['location_name'] = df['location_name'].fillna('unknown')
df['sex_id'] = df['sex_id'].fillna(0)
df['sex_name'] = df['sex_name'].fillna('unknown')
del df['age_id']
del df['age_name']
del df['cause_id']
del df['cause_name']
del df['metric_id']
del df['metric_name']
df['year'] = df['year'].fillna(0)
df['val'] = df['val'].fillna(0)
df['upper'] = df['upper'].fillna(0)
df['lower'] = df['lower'].fillna(0)
df['sex_percentage'] = 1.0
df['rank'] = 0
df['percent_change'] = 0.0
df['average_percent_change'] = 0.0
df['raw_decrease_from_peak'] = 0.0
df['raw_increase_from_min'] = 0.0
df['avg_percent_change_since_peak'] = 0.0
df['avg_percent_change_since_min'] = 0.0
df['peak'] = 0.0
df['min'] = 0.0

In [107]:
# Let's find the val rank for each year/sex per country.
for year in df['year'].unique():
    for sex in df['sex_id'].unique():
        df_current = df[(df['sex_id']==sex) & (df['year']==year)].sort_values(by=['val'], ascending=False).reset_index()
        for index, row in df_current.iterrows():
            df.at[row['index'], 'rank'] = index + 1

In [108]:
# Calculate %change each year as well as data for calculating the sharpest increases/declines
for country in df['location_name'].unique():
    for sex in df['sex_id'].unique():
        df_country = df[(df['sex_id']==sex) & (df['location_name']==country)].sort_values(by=['year'])
        previous_val = df_country[(df_country['year']==1990)]['val']
        year_of_peak =  df_country.loc[df_country['val'].idxmax()]['year']
        year_of_min =  df_country.loc[df_country['val'].idxmin()]['year']
        total_change = 0
        total_change_since_peak = 0
        total_change_since_min = 0
        years_since_peak = 0
        years_since_min = 0
        for index, row in df_country[1:].iterrows():
            percent_change = (row['val'] - previous_val)/previous_val
            total_change += percent_change
            if(row['year'] > year_of_peak):
                total_change_since_peak += percent_change
                years_since_peak+=1
            if(row['year'] > year_of_min):
                total_change_since_min += percent_change
                years_since_min+=1
            previous_val = row['val']
            df.at[index, 'percent_change'] = percent_change
        df.at[index, 'average_percent_change'] = total_change/26
        try:
            df.at[index, 'avg_percent_change_since_peak'] = total_change_since_peak/(years_since_peak)
        except ZeroDivisionError:
            pass
        try:
            df.at[index, 'avg_percent_change_since_min'] = total_change_since_min/(years_since_min)
        except ZeroDivisionError:
            pass

        df.at[index, 'peak'] = Decimal(df_country['val'].max())
        df.at[index, 'min'] = Decimal(df_country['val'].min())
        df.at[index, 'raw_decrease_from_peak'] = float(df_country[(df['year']==2017)]['val']) - df_country['val'].max()
        df.at[index, 'raw_increase_from_min'] = float(df_country[(df['year']==2017)]['val']) - df_country['val'].min()

/Users/benjaminhurst/.local/share/virtualenvs/opioid_study-oZUPmX6j/lib/python3.6/site-packages/ipykernel_launcher.py:36: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/benjaminhurst/.local/share/virtualenvs/opioid_study-oZUPmX6j/lib/python3.6/site-packages/ipykernel_launcher.py:37: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [102]:
# The following block appends world data (annual means) to the dataset
df_world = pd.DataFrame(columns=['id', 'location_id', 'location_name', 'sex_id', 'sex_name', 'year', 'val', 'upper', 'lower', 'sex_percentage', 'rank', 'percent_change', 'average_percent_change', 'raw_decrease_from_peak', 'raw_increase_from_min', 'avg_percent_change_since_peak', 'avg_percent_change_since_min', 'peak', 'min'])

index = df.count()['location_id']

for year in df['year'].unique():
    for sex in df['sex_id'].unique():
        df_world.at[index, 'id'] = None
        df_world.at[index, 'location_id'] = int(0)
        df_world.at[index, 'location_name'] = 'World'
        df_world.at[index, 'sex_id'] = int(sex)
        df_world.at[index, 'sex_name'] = 'Male' if sex == 1 else 'Female' if sex == 2 else 'Both'
        df_world.at[index, 'year'] = int(year)
        df_world.at[index, 'val'] = df[(df['sex_id'] == sex) & (df['year'] == year)]['val'].mean()
        df_world.at[index, 'upper'] = df[(df['sex_id'] == sex) & (df['year'] == year)]['upper'].mean()
        df_world.at[index, 'lower'] = df[(df['sex_id'] == sex) & (df['year'] == year)]['lower'].mean()
        df_world.at[index, 'rank'] = int(0)
        df_world.at[index, 'sex_percentage'] = 1.0
        df_world.at[index, 'percent_change'] = 0.0
        df_world.at[index, 'average_percent_change'] = 0.0
        df_world.at[index, 'raw_decrease_from_peak'] = 0.0
        df_world.at[index, 'raw_increase_from_min'] = 0.0
        df_world.at[index, 'avg_percent_change_since_peak'] = 0.0
        df_world.at[index, 'avg_percent_change_since_min'] = 0.0
        df_world.at[index, 'peak'] = 0.0
        df_world.at[index, 'min'] = 0.0
        # df_world.at[index, 'id'] = index

        index += 1

df_world = df_world.sort_values(by=['year'])
# print(df_world)
for sex in df_world['sex_id'].unique():
    df_sex = df_world[(df_world['sex_id']==sex)].sort_values(by=['year'])
#     print(df_sex)
#     break
    previous_val = df_sex[(df_sex['year']==1990)]['val']
    total_percent_change = 0
    for index, row in df_sex[1:].iterrows():
#         break
        percent_change = float((row['val'] - previous_val)/previous_val)
        total_percent_change += percent_change
        previous_val = row['val']
        df_world.at[index, 'percent_change'] = percent_change
    df_world.at[index, 'average_percent_change'] = float(total_percent_change/26)

df = df.append(df_world, sort=True)

In [109]:
df_world

,id,location_id,location_name,sex_id,sex_name,year,val,upper,lower,sex_percentage,rank,percent_change,average_percent_change,raw_decrease_from_peak,raw_increase_from_min,avg_percent_change_since_peak,avg_percent_change_since_min,peak,min
16968,None,0,World,1,Male,1990,0.808026,1.01103,0.62223,1,0,0,0,0,0,0,0,0,0
16969,None,0,World,2,Female,1990,0.207061,0.256045,0.160143,1,0,0,0,0,0,0,0,0,0
16970,None,0,World,3,Both,1990,0.506177,0.615114,0.402634,1,0,0,0,0,0,0,0,0,0
16974,None,0,World,1,Male,1991,0.862912,1.07198,0.671625,1,0,0.0679268,0,0,0,0,0,0,0
16975,None,0,World,2,Female,1991,0.215708,0.265314,0.168327,1,0,0.0417605,0,0,0,0,0,0,0
16976,None,0,World,3,Both,1991,0.537849,0.649795,0.431973,1,0,0.0625715,0,0,0,0,0,0,0
16971,None,0,World,1,Male,1992,0.92377,1.13863,0.728825,1,0,0.0705257,0,0,0,0,0,0,0
16972,None,0,World,2,Female,1992,0.227739,0.278561,0.179519,1,0,0.0557781,0,0,0,0,0,0,0
16973,None,0,World,3,Both,1992,0.574216,0.689072,0.466528,1,0,0.0676164,0,0,0,0,0,0,0
16979,None,0,World,3,Both,1993,0.612418,0.730498,0.502131,1,0,0.0665283,0,0,0,0,0,0,0
16977,None,0,World,1,Male,1993,0.988768,1.21021,0.788271,1,0,0.0703615,0,0,0,0,0,0,0
16978,None,0,World,2,Female,1993,0.239676,0.291385,0.190726,1,0,0.0524132,0,0,0,0,0,0,0
16980,None,0,World,1,Male,1994,1.0756,1.30921,0.865197,1,0,0.0878208,0,0,0,0,0,0,0
16981,None,0,World,2,Female,1994,0.25622,0.309271,0.205954,1,0,0.0690258,0,0,0,0,0,0,0
16982,None,0,World,3,Both,1994,0.663715,0.787937,0.548634,1,0,0.083761,0,0,0,0,0,0,0
16985,None,0,World,3,Both,1995,0.708111,0.836407,0.589932,1,0,0.066891,0,0,0,0,0,0,0
16983,None,0,World,1,Male,1995,1.15238,1.39323,0.936575,1,0,0.0713792,0,0,0,0,0,0,0
16984,None,0,World,2,Female,1995,0.267246,0.3216,0.216402,1,0,0.0430329,0,0,0,0,0,0,0
16988,None,0,World,3,Both,1996,0.728764,0.857478,0.611489,1,0,0.0291665,0,0,0,0,0,0,0
16987,None,0,World,2,Female,1996,0.276863,0.332373,0.225605,1,0,0.0359881,0,0,0,0,0,0,0
16986,None,0,World,1,Male,1996,1.18684,1.42765,0.972254,1,0,0.029908,0,0,0,0,0,0,0
16989,None,0,World,1,Male,1997,1.23991,1.48688,1.02168,1,0,0.0447158,0,0,0,0,0,0,0
16990,None,0,World,2,Female,1997,0.294837,0.35198,0.242495,1,0,0.0649181,0,0,0,0,0,0,0
16991,None,0,World,3,Both,1997,0.763442,0.894933,0.645099,1,0,0.0475845,0,0,0,0,0,0,0
16992,None,0,World,1,Male,1998,1.28107,1.53186,1.06011,1,0,0.0331913,0,0,0,0,0,0,0
16993,None,0,World,2,Female,1998,0.305549,0.36364,0.2525,1,0,0.0363342,0,0,0,0,0,0,0
16994,None,0,World,3,Both,1998,0.788695,0.921706,0.668973,1,0,0.0330774,0,0,0,0,0,0,0
16996,None,0,World,2,Female,1999,0.31707,0.376047,0.263281,1,0,0.0377045,0,0,0,0,0,0,0
16997,None,0,World,3,Both,1999,0.801847,0.934753,0.683103,1,0,0.0166754,0,0,0,0,0,0,0
16995,None,0,World,1,Male,1999,1.29627,1.54647,1.07655,1,0,0.0118685,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17022,None,0,World,1,Male,2008,1.34652,1.60387,1.11854,1,0,-0.0070818,0,0,0,0,0,0,0
17023,None,0,World,2,Female,2008,0.358994,0.424316,0.300959,1,0,0.0146812,0,0,0,0,0,0,0
17024,None,0,World,3,Both,2008,0.849375,0.98734,0.72558,1,0,-0.00144409,0,0,0,0,0,0,0
17027,None,0,World,3,Both,2009,0.845464,0.984107,0.722242,1,0,-0.00460451,0,0,0,0,0,0,0
17025,None,0,World,1,Male,2009,1.33179,1.58976,1.10515,1,0,-0.0109379,0,0,0,0,0,0,0
17026,None,0,World,2,Female,2009,0.363702,0.430504,0.305108,1,0,0.0131166,0,0,0,0,0,0,0
17030,None,0,World,3,Both,2010,0.848521,0.988864,0.724065,1,0,0.00361582,0,0,0,0,0,0,0
17028,None,0,World,1,Male,2010,1.33323,1.59515,1.10464,1,0,0.00108519,0,0,0,0,0,0,0
17029,None,0,World,2,Female,2010,0.36759,0.435741,0.308296,1,0,0.0106885,0,0,0,0,0,0,0
17031,None,0,World,1,Male,2011,1.33989,1.60956,1.10817,1,0,0.00499307,0,0,0,0,0,0,0
17032,None,0,World,2,Female,2011,0.372824,0.442585,0.312587,1,0,0.014239,0,0,0,0,0,0,0
17033,None,0,World,3,Both,2011,0.854871,1.00008,0.728115,1,0,0.00748301,0,0,0,0,0,0,0
17034,None,0,World,1,Male,2012,1.34965,1.62659,1.11224,1,0,0.00728104,0,0,0,0,0,0,0
17035,None,0,World,2,Female,2012,0.377174,0.449382,0.315398,1,0,0.0116679,0,0,0,0,0,0,0
17036,None,0,World,3,Both,2012,0.862166,1.01166,0.732758,1,0,0.00853333,0,0,0,0,0,0,0
17039,None,0,World,3,Both,2013,0.874004,1.02825,0.74062,1,0,0.0137307,0,0,0,0,0,0,0
17037,None,0,World,1,Male,2013,1.36219,1.64797,1.11856,1,0,0.00929079,0,0,0,0,0,0,0
17038,None,0,World,2,Female,2013,0.387217,0.462637,0.322817,1,0,0.0266272,0,0,0,0,0,0,0
17040,None,0,World,1,Male,2014,1.39041,1.68805,1.13764,1,0,0.0207225,0,0,0,0,0,0,0
17041,None,0,World,2,Female,2014,0.396872,0.476141,0.329132,1,0,0.024935,0,0,0,0,0,0,0
17042,None,0,World,3,Both,2014,0.893046,1.05413,0.754616,1,0,0.0217875,0,0,0,0,0,0,0
17043,None,0,World,1,Male,2015,1.43523,1.75135,1.16775,1,0,0.0322317,0,0,0,0,0,0,0
17044,None,0,World,2,Female,2015,0.411856,0.496403,0.339672,1,0,0.0377553,0,0,0,0,0,0,0
17045,None,0,World,3,Both,2015,0.922809,1.09415,0.776642,1,0,0.0333272,0,0,0,0,0,0,0
17047,None,0,World,2,Female,2016,0.43403,0.52822,0.353164,1,0,0.0538379,0,0,0,0,0,0,0
17046,None,0,World,1,Male,2016,1.49876,1.84015,1.21182,1,0,0.044263,0,0,0,0,0,0,0
17048,None,0,World,3,Both,2016,0.965677,1.15148,0.807658,1,0,0.0464536,0,0,0,0,0,0,0
17050,None,0,World,2,Female,2017,0.451517,0.55777,0.361056,1,0,0.04029,0.0305981,0,0,0,0,0,0
17049,None,0,World,1,Male,2017,1.54433,1.9161,1.23144,1,0,0.0304088,0.0256005,0,0,0,0,0,0
17051,None,0,World,3,Both,2017,0.997338,1.19916,0.825202,1,0,0.0327868,0.026734,0,0,0,0,0,0

In [110]:
# For each country determine what % of deaths are male/female

for country in df['location_name'].unique():
    for year in df['year'].unique():
        df_current = df[(df['location_name']==country) & (df['year']==year)]
        male_rate = float(df_current[(df['sex_id']==1)]['val'])
        female_rate = float(df_current[(df['sex_id']==2)]['val'])
        both_rate = float(df_current[(df['sex_id']==3)]['val'])
        female_percentage = (female_rate*(both_rate-male_rate))/(both_rate*(female_rate-male_rate))
        male_percentage = 1 - female_percentage
        df.at[df_current.index[0], 'sex_percentage'] = male_percentage
        df.at[df_current.index[0]+1, 'sex_percentage'] = female_percentage
        df.at[df_current.index[0]+1, 'sex_percentage'] = female_percentage

/Users/benjaminhurst/.local/share/virtualenvs/opioid_study-oZUPmX6j/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/benjaminhurst/.local/share/virtualenvs/opioid_study-oZUPmX6j/lib/python3.6/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys
/Users/benjaminhurst/.local/share/virtualenvs/opioid_study-oZUPmX6j/lib/python3.6/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [111]:
df

,location_id,location_name,sex_id,sex_name,year,val,upper,lower,sex_percentage,rank,percent_change,average_percent_change,raw_decrease_from_peak,raw_increase_from_min,avg_percent_change_since_peak,avg_percent_change_since_min,peak,min
0,108,Belize,1,Male,1990,0.111066,0.134317,0.090071,0.683366,186,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,108,Belize,2,Female,1990,0.052717,0.062200,0.043408,0.316634,160,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,108,Belize,3,Both,1990,0.082243,0.094777,0.069078,1.000000,186,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,7,North Korea,1,Male,1990,0.627025,0.912639,0.363522,0.689975,75,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,7,North Korea,2,Female,1990,0.249210,0.348083,0.160998,0.310025,53,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,7,North Korea,3,Both,1990,0.426544,0.579862,0.278203,1.000000,71,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,133,Venezuela,1,Male,1990,0.277605,0.326285,0.233146,0.701541,142,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,133,Venezuela,2,Female,1990,0.117293,0.133007,0.098561,0.298459,104,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,133,Venezuela,3,Both,1990,0.197173,0.222632,0.171501,1.000000,133,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,184,Mozambique,1,Male,1990,0.385147,0.612079,0.157109,0.881397,117,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,184,Mozambique,2,Female,1990,0.048429,0.067559,0.026522,0.118603,170,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,184,Mozambique,3,Both,1990,0.211082,0.323935,0.095380,1.000000,126,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,58,Estonia,1,Male,1990,1.825310,2.091568,1.572103,0.829537,23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,58,Estonia,2,Female,1990,0.329446,0.375329,0.286948,0.170463,34,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,58,Estonia,3,Both,1990,1.028927,1.158477,0.910879,1.000000,28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,83,Iceland,1,Male,1990,1.645335,1.972045,1.353989,0.638595,29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,83,Iceland,2,Female,1990,0.939015,1.061402,0.823691,0.361405,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,83,Iceland,3,Both,1990,1.293659,1.461747,1.121928,1.000000,18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,179,Ethiopia,1,Male,1992,0.236901,0.357953,0.084490,0.636953,154,0.012467,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,179,Ethiopia,2,Female,1992,0.136109,0.201223,0.064547,0.363047,99,0.008156,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,179,Ethiopia,3,Both,1992,0.186706,0.254546,0.077141,1.000000,147,0.011194,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,435,South Sudan,1,Male,1990,0.136492,0.296173,0.032979,0.866352,175,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,435,South Sudan,2,Female,1990,0.023833,0.039622,0.010748,0.133648,190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,435,South Sudan,3,Both,1990,0.083648,0.171705,0.024338,1.000000,181,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,59,Latvia,1,Male,1990,1.408475,1.591610,1.240946,0.806330,37,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,59,Latvia,2,Female,1990,0.294980,0.331325,0.260300,0.193670,42,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,59,Latvia,3,Both,1990,0.813645,0.902064,0.729386,1.000000,37,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,195,Namibia,1,Male,1991,1.790817,2.280432,1.292438,0.763901,26,0.022186,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,195,Namibia,2,Female,1991,0.527700,0.659118,0.424211,0.236099,17,0.019713,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,195,Namibia,3,Both,1991,1.144195,1.416354,0.872462,1.000000,28,0.020934,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16350,121,Bolivia,1,Male,2017,1.164082,1.564688,0.758671,0.718937,85,0.035177,0.026159,0.000000,0.568359,0.000000,0.025191,1.164082,0.595723
16351,121,Bolivia,2,Female,2017,0.455694,0.592521,0.323363,0.281063,62,0.040913,0.040538,0.000000,0.293402,0.000000,0.039037,0.455694,0.162292
16352,121,Bolivia,3,Both,2017,0.810124,1.021316,0.593148,1.000000,77,0.036892,0.029913,0.000000,0.433439,0.000000,0.028805,0.810124,0.376685
16353,122,Ecuador,1,Male,2017,1.304299,1.516947,1.118238,0.725298,74,0.050750,0.047363,0.000000,0.900511,0.000000,0.045609,1.304299,0.403788
16354,122,Ecuador,2,Female,2017,0.488362,0.574502,0.410112,0.274702,57,0.053578,0.055851,-0.003434,0.361475,0.002257,0.053782,0.491797,0.126888
16355,122,Ecuador,3,Both,2017,0.893992,1.010560,0.793107,1.000000,64,0.051660,0.049206,0.000000,0.629394,0.000000,0.047383,0.893992,0.264597
16356,140,Bahrain,1,Male,2017,0.967092,1.176068,0.801014,0.930313,99,0.046455,-0.005497,-1.939319,0.154084,-0.053832,0.059662,2.906410,0.813007
16357,140,Bahrain,2,Female,2017,0.118623,0.141899,0.097976,0.069687,157,0.068616,0.013824,-0.109308,0.026453,-0.024423,0.088058,0.227931,0.092171
16358,140,Bahrain,3,Both,2017,0.645397,0.777646,0.541623,1.000000,101,0.045914,-0.002754,-1.114796,0.103359,-0.049158,0.060029,1.760193,0.542039
16359,89,Netherlands,1,Male,2017,1.040808,1.194735,0.908976,0.739210,91,0.014192,0.024315,0.000000,0.498412,0.000000,0.030682,1.040808,0.542395
16360,89,Netherlands,2,Female,2017,0.361230,0.421094,0.311007,0.260790,75,0.072894,0.058687,0.000000,0.278268,0.000000,0.062554,0.361230,0.082962
16361,89,Netherlands,3,Both,2017,0.698237,0.784470,0.626659,1.000000,93,0.029097,0.030375,0.000000,0.373648,0.000000,0.036160,0.698237,0.324590
16362,141,Egypt,1,Male,2017,0.153226,0.197976,0.115842,0.810127,193,0.045927,0.041537,0.000000,0.099254,0.000000,0.039999,0.153226,0.053972
16363,141,Egypt,2,Female,2017,0.038265,0.049383,0.028162,0.189873,188,0.039152,0.038977,0.000000,0.023843,0.000000,0.037534,0.038265,0.014422
16364,141,Egypt,3,Both,2017,0.097569,0.120565,0.075811,1.000000,192,0.045213,0.041098,0.000000,0.062869,0.000000,0.039576,0.097569,0.034700
16365,142,Iran,1,Male,2017,5.915981,6.518336,5.582490,0.839101,6,0.014398,0.043043,-1.113307,3.814823,-0.025743,0.041448,7.029289,2.101158
16366,142,Iran,2,Female,2017,1.167278,1.265283,1.085196,0.160899,10,0.028670,0.031636,-0.303101,0.620564,-0.029657,0.030464,1.470379,0.546714
16367,142,Iran,3,Both,2017,3.575545,3.910082,3.399822,1.000000,6,0.017170,0.040697,-0.662860,2.236837,-0.021687,0.039190,4.238406,1.338708
16368,123,Peru,1,Male,2017,0.966524,1.236569,0.747010,0.681074,100,0.051121,0.011771,-0.188813,0.279749,-0.011068,0.015286,1.155336,0.686775
16369,123,Peru,2,Female,2017,0.455848,0.582383,0.350348,0.318926,61,0.026639,0.030146,-0.080980,0.241303,-0.022243,0.031291,0.536828,0.214546
16370,123,Peru,3,Both,2017,0.712101,0.856946,0.583865,1.000000,91,0.043199,0.016731,-0.120253,0.262601,-0.020799,0.019708,0.832354,0.449500
16371,298,American Samoa,1,Male,2017,0.412956,0.503537,0.333732,0.663643,161,0.041423,0.019860,-0.002267,0.130458,0.004407,0.053603,0.415223,0.282498
16372,298,American Samoa,2,Female,2017,0.213284,0.262599,0.166093,0.336357,120,0.032995,0.059968,-0.069268,0.133815,-0.009539,0.081346,0.282552,0.079469
16373,298,American Samoa,3,Both,2017,0.314061,0.363559,0.266843,1.000000,151,0.038420,0.024935,-0.036078,0.117217,-0.004958,0.024011,0.350139,0.196844
16374,90,Norway,1,Male,2017,3.878455,4.333086,3.520894,0.774713,15,0.049647,0.019678,-4.720459,1.218489,-0.043934,0.018949,8.598915,2.659966
16375,90,Norway,2,Female,2017,1.145596,1.295023,1.052265,0.225287,12,0.047857,0.025787,-0.796146,0.486912,-0.030107,0.024832,1.941742,0.658684
16376,90,Norway,3,Both,2017,2.522687,2.805491,2.340844,1.000000,15,0.049710,0.021195,-2.683379,0.874359,-0.040028,0.020410,5.206066,1.648328
16377,91,Portugal,1,Male,2017,1.336967,1.520343,1.160970,0.802816,69,0.063806,0.037203,-0.430554,0.775078,-0.019895,0.035825,1.767521,0.561889
16378,91,Portugal,2,Female,2017,0.298549,0.351800,0.250335,0.197184,92,0.088038,0.064675,-0.031035,0.222992,-0.003250,0.062280,0.329583,0.075557
16379,91,Portugal,3,Both,2017,0.793053,0.886029,0.705157,1.000000,80,0.068028,0.040497,-0.230853,0.482545,-0.017787,0.038997,1.023906,0.310508