In [30]:
import pandas as pd
from collections import defaultdict

In [2]:
csv_data = pd.read_csv(
    './assets/IHME-GBD_2017_DATA-37d305ef-1.csv',
    error_bad_lines=False
)
df = pd.DataFrame(csv_data)

In [4]:
del df['measure_id']
del df['measure_name']
df['location_id'] = df['location_id'].fillna(0)
df['location_name'] = df['location_name'].fillna('unknown')
df['sex_id'] = df['sex_id'].fillna(0)
df['sex_name'] = df['sex_name'].fillna('unknown')
del df['age_id']
del df['age_name']
del df['cause_id']
del df['cause_name']
del df['metric_id']
del df['metric_name']
df['year'] = df['year'].fillna(0)
df['val'] = df['val'].fillna(0)
df['upper'] = df['upper'].fillna(0)
df['lower'] = df['lower'].fillna(0)

In [55]:
df.head()

,location_id,location_name,sex_id,sex_name,year,val,upper,lower
465,143,Iraq,1,Male,1990,2.080527,2.743068,1.521733
6,133,Venezuela,1,Male,1990,0.277605,0.326285,0.233146
1738,50,Montenegro,2,Female,1990,0.530023,0.627411,0.442170
349,164,Nepal,2,Female,1990,0.049802,0.089240,0.012908
50,33,Armenia,3,Both,1990,0.139475,0.153401,0.125333

In [57]:
# df = df.sort_values(by=['year'])

In [58]:
df['year'].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017])

In [59]:
df['sex_id'].unique()

array([1, 2, 3])

In [60]:
df[(df['sex_id']==3) & (df['year']==1990)]['val'].mean()

0.5061766242948149

In [63]:
df_world = pd.DataFrame(columns=['location_id', 'location_name', 'sex_id', 'year', 'val', 'upper', 'lower'])

index = df.count()['location_id'] + 1 

for year in df['year'].unique(): 
    for sex in df['sex_id'].unique():
        df_world.at[index, 'location_id'] = 0
        df_world.at[index, 'location_name'] = 'World'
        df_world.at[index, 'sex_id'] = sex
        df_world.at[index, 'sex_name'] = 'Male' if sex==1 else 'Female' if sex==2 else 'Both' 
        df_world.at[index, 'year'] = year
        df_world.at[index, 'val'] = df[(df['sex_id']==sex) & (df['year']==year)]['val'].mean()
        df_world.at[index, 'upper'] = df[(df['sex_id']==sex) & (df['year']==year)]['upper'].mean()
        df_world.at[index, 'lower'] = df[(df['sex_id']==sex) & (df['year']==year)]['lower'].mean()
        index += 1

In [64]:
df.append(df_world)

,location_id,location_name,lower,sex_id,sex_name,upper,val,year
465,143,Iraq,1.52173,1,Male,2.74307,2.08053,1990
6,133,Venezuela,0.233146,1,Male,0.326285,0.277605,1990
1738,50,Montenegro,0.44217,2,Female,0.627411,0.530023,1990
349,164,Nepal,0.0129076,2,Female,0.0892399,0.0498017,1990
50,33,Armenia,0.125333,3,Both,0.153401,0.139475,1990
350,164,Nepal,0.0195395,3,Both,0.109679,0.0706888,1990
877,88,Malta,0.129579,2,Female,0.163551,0.147146,1990
1364,201,Burkina Faso,0.130216,3,Both,0.323114,0.218845,1990
878,88,Malta,0.42456,3,Both,0.550703,0.487281,1990
3275,49,Macedonia,0.0655966,3,Both,0.0980895,0.083336,1990
876,88,Malta,0.715258,1,Male,0.9649,0.835776,1990
2663,29,Tonga,0.0699986,3,Both,0.166514,0.120695,1990
49,33,Armenia,0.0531087,2,Female,0.0762049,0.0666405,1990
969,200,Benin,0.353146,1,Male,0.675912,0.495874,1990
970,200,Benin,0.0429354,2,Female,0.0749716,0.0587767,1990
3274,49,Macedonia,0.0336024,2,Female,0.0479846,0.0405105,1990
3273,49,Macedonia,0.0896433,1,Male,0.153151,0.125681,1990
1041,151,Qatar,1.54698,1,Male,2.52723,1.98838,1990
398,39,Tajikistan,0.112935,3,Both,0.152423,0.132574,1990
885,40,Turkmenistan,0.203581,1,Male,0.279106,0.238092,1990
348,164,Nepal,0.0224213,1,Male,0.163764,0.0914827,1990
971,200,Benin,0.202931,3,Both,0.362775,0.271618,1990
1737,50,Montenegro,2.10741,1,Male,3.00412,2.52888,1990
1363,201,Burkina Faso,0.0420309,2,Female,0.0807283,0.0632988,1990
1362,201,Burkina Faso,0.210688,1,Male,0.595854,0.386047,1990
889,87,Luxembourg,0.440721,2,Female,0.554253,0.496653,1990
2541,204,Chad,0.175779,1,Male,0.500896,0.304526,1990
396,39,Tajikistan,0.192684,1,Male,0.263044,0.226135,1990
2318,203,Cape Verde,0.506026,3,Both,0.871166,0.658622,1990
2316,203,Cape Verde,0.919532,1,Male,1.65307,1.22317,1990
...,...,...,...,...,...,...,...,...
16435,0,World,1.11854,1,Male,1.60387,1.34652,2008
16436,0,World,0.300959,2,Female,0.424316,0.358994,2008
16437,0,World,0.72558,3,Both,0.98734,0.849375,2008
16438,0,World,1.10515,1,Male,1.58976,1.33179,2009
16439,0,World,0.305108,2,Female,0.430504,0.363702,2009
16440,0,World,0.722242,3,Both,0.984107,0.845464,2009
16441,0,World,1.10464,1,Male,1.59515,1.33323,2010
16442,0,World,0.308296,2,Female,0.435741,0.36759,2010
16443,0,World,0.724065,3,Both,0.988864,0.848521,2010
16444,0,World,1.10817,1,Male,1.60956,1.33989,2011
16445,0,World,0.312587,2,Female,0.442585,0.372824,2011
16446,0,World,0.728115,3,Both,1.00008,0.854871,2011
16447,0,World,1.11224,1,Male,1.62659,1.34965,2012
16448,0,World,0.315398,2,Female,0.449382,0.377174,2012
16449,0,World,0.732758,3,Both,1.01166,0.862166,2012
16450,0,World,1.11856,1,Male,1.64797,1.36219,2013
16451,0,World,0.322817,2,Female,0.462637,0.387217,2013
16452,0,World,0.74062,3,Both,1.02825,0.874004,2013
16453,0,World,1.13764,1,Male,1.68805,1.39041,2014
16454,0,World,0.329132,2,Female,0.476141,0.396872,2014
16455,0,World,0.754616,3,Both,1.05413,0.893046,2014
16456,0,World,1.16775,1,Male,1.75135,1.43523,2015
16457,0,World,0.339672,2,Female,0.496403,0.411856,2015
16458,0,World,0.776642,3,Both,1.09415,0.922809,2015
16459,0,World,1.21182,1,Male,1.84015,1.49876,2016
16460,0,World,0.353164,2,Female,0.52822,0.43403,2016
16461,0,World,0.807658,3,Both,1.15148,0.965677,2016
16462,0,World,1.23144,1,Male,1.9161,1.54433,2017
16463,0,World,0.361056,2,Female,0.55777,0.451517,2017
16464,0,World,0.825202,3,Both,1.19916,0.997338,2017